$primary: #3c91e6;
$primary-light: #6dADED;
$primary-highlight: #A1CCF7;
$secondary-dark: #119C1D;
$secondary: #3ce647;
$secondary-light: #A6F285;
$tertiary: #EDE580;
$accent: #F07B5D;
$error: #D61e1e;

$white: #F0F2e4;
$bright: #AABBBB;
$mid: #435555;
$dark: #2C3333;
$black: #1C2323;

$text-color: $dark;
